.DS_Store
node_modules/
dist/
.turbo/
.next/
.source/
*.tsbuildinfo
*.log

/app.app/
/app-main-CYccuswF.css
/index.html
/main-BJ6Uf5yA.js

research/opaline-internals/node_modules/
research/opaline-internals/dist/
research/opaline-internals/.runtime/
research/opaline-internals/.upstream-cache/
research/opaline-internals/.tmp-inspect-asar/
